.FRow {
  display: flex;
  flex-direction: row;
}
.FColumn {
  display: flex;
  flex-direction: column;
}
.JCenter {
  justify-content: center;
}
.JSpaceAround {
  justify-content: space-around;
}
.JEnd{
    justify-content: flex-end;
}
.JStretch{
    justify-content: stretch;
}
.JStart{
    justify-content: flex-start;
}
.JSpaceBetween {
  justify-content: space-between;
}
.ACenter {
  align-items: center;
}
.AStart{
    align-items: flex-start;
}
.ABLine {
  align-items: baseline;
}
.Expand{
    flex: 5;
}