body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(23, 44, 62);
  margin: 0.5rem;
}
header {
  max-height: 10vh;
  min-height: 10vh;
  background: linear-gradient(
    to bottom,
    rgb(229, 229, 229) 0%,
    rgb(229, 229, 229) 50%,
    rgb(23, 44, 62) 50%,
    rgb(23, 44, 62) 100%
  );
}
h1 {
  margin: 0;
  font-size: 2.2rem;
  background: linear-gradient(
    to bottom,
    rgb(23, 44, 62) 0%,
    rgb(23, 44, 62) 50%,
    rgb(229, 229, 229) 50%,
    rgb(229, 229, 229) 100%
  );
  color: rgb(229, 229, 229);
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main img {
  max-height: 60vh;
  border-radius: 3%;
  margin: 5rem;
}

.H80 {
  min-height: 84vh;
  max-height: 84vh;
}
.W100 {
  min-width: 100%;
}
.SmallIcon {
  height: 3rem;
  margin: 0.2rem;
  position: absolute;
  top: 15%;
  left: 90%;
}

.Home {
  height: 2rem;
}
.Rounded {
  border-radius: 5%;
}
.MenuLinkSize {
  height: 10vh;
  width: 25vw;
}
.MenuLinkSmallSize {
  height: 10vh;
  width: 5vw;
}
.BC1 {
  background-color: rgb(23, 44, 62);
}
.BC2 {
  background-color: rgb(229, 229, 229);
}
.BCG12 {
  background: linear-gradient(
    to top,
    rgb(229, 229, 229) 0%,
    rgb(229, 229, 229) 55%,
    rgb(23, 44, 62) 55%,
    rgb(23, 44, 62) 100%
  );
}
.BC3 {
  background-color: #90aa86;
}
.C1 {
  color: rgb(23, 44, 62);
}
.C2 {
  color: rgb(229, 229, 229);
}
.Circle {
  border-radius: 50%;
}
article {
  margin-top: 1px;
}
article h2 {
  margin-left: 2rem;
  margin-top: 5vh;
}
h3 {
  margin-left: 3rem;
}
h4 {
  margin-top: 0.5rem;
  margin-left: 3rem;
}
section h2 {
  margin: 1rem;
  color: rgb(23, 44, 62);
}

.Special {
  margin: 1rem;
  font-size: 1.2rem;
  width: 30rem;
}

div > section {
  margin-left: 0rem;
}
a {
  text-decoration: none;
  min-height: 5vh;
  max-height: 5vh;
}
nav a:hover {
  background: #676470;
  transition: all 0.3s ease; 
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
nav {
  min-height: 5vh;
  max-height: 5vh;
  position: sticky;
  top: 0;
}

.Circle {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}
.EmptyCircle {
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  border: solid 0.1rem rgb(229, 229, 229);
  overflow: hidden;
}
.EmptyCircleDark {
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  border: solid 0.1rem rgb(23, 44, 62);
  overflow: hidden;
}
table {
  border-collapse: collapse;
  vertical-align: baseline;
  width: 50vw;
}
table td {
  white-space: nowrap;
  text-align: center;
}
table td div {
  display: inline-block;
}
table img {
  height: 3rem;
  margin: 1rem;
}
.LeftAlign {
  text-align: left;
}
ul li {
  margin-top: 0.5rem;
}
footer {
  height: 15vh;
}
footer img {
  height: 2rem;
  margin: 0.5rem;
}
footer table {
  width: 40vw;
}
aside {
  width: 40vw;
  align-self: flex-start;
  border: solid 0.1rem rgb(229, 229, 229);
  margin-right: 2rem;
}
p {
  margin-left: 5rem;
}
.LightSelector {
  list-style-image: url("../svg/stop.svg");
  margin-left: 4rem;
}
.DarkSelector {
  list-style-image: url("../svg/stopBlue.svg");
  margin-left: 4rem;
}
.Icon {
  height: 5rem;
  align-self: flex-start;
  margin-right: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}
table p {
  margin: 0;
}
.First::first-letter{
  font-size: 3rem;
  margin: 0;
}
a h2{
  font-size: 1.3rem;
}